@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
}
/* Dark01 */
.text-black{
    color: #131313;
}
/*Dark02*/
.text-gray{
    color:#424242 ;
}

/*Dark03*/
.text-light-gray{
    color: #727272;
}

/*bg light*/
.bg-light{
    background-color: rgba(255, 216, 14, 0.1);
}

/* navbar styles */

.navbar{
   justify-content: space-between;
   align-items: center;
   padding-top: 2.5rem;
   
}
.nav-item{
    list-style: none;
    margin-right: 35px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }
 .brand{
    font-size: 2rem;
 }

 /* banner content style */
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 30px;
    
 }

 .banner-tittle {
    font-size: 4rem;
    font-weight: 700;

 }
 .banner-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;
 }
 .banner-img{
    width: 100%;
 }

 /*responsive */
 @media screen and (max-width:576px){
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: row;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .banner-img{
        width: 100%;
    }
    .banner-tittle{
        margin-bottom: 1rem;
    }
 }