@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}
@keyframes appear{
    from{
        opacity: 0.5;
        translate: 1;
    }
    to{
        opacity: 1;
        scale: 1.2;
    }
}
.banner-content{
    animation: appear 2.5s linear;
}

/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
}


/* Dark01 */
.text-black{
    color: #131313;
}
/*Dark02*/
.text-gray{
    color:#424242 ;
}

/*Dark03*/
.text-light-gray{
    color: #727272;
}
/*orange color*/
.text-orange{
    color: #FF900E;
}

/*bg light*/
.bg-light{
    background-color: rgba(255, 216, 14, 0.1);
}

/* navbar styles */

.navbar{
   justify-content: space-between;
   align-items: center;
   padding-top: 2.5rem;
   
}
.nav-item{
    list-style: none;
    margin-right: 35px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
        
 .navbar, .banner,.teams,.some-fact,.sponsor-container,.enjoy-container{
    max-width: 1440px;
    margin: 0 auto;
 }
 .brand{
    font-size: 2rem;
 }

 /* banner content style */
 .banner-content{
    max-width: 849px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 30px;
    
 }

 .banner-tittle {
    font-size: 4rem;
    font-weight: 700;

 }
 .banner-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 1rem;
 }
 .banner-img{
    width: 100%;
    padding: 30px 0;
 }
 /* team-container */
 .teams{
    /* justify-content: center; */
    align-items: center;
    gap: 6.25rem;
    
 }
 .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
 }
 .teams,.some-fact{
    margin-top: 130px;
 }
 .our-feauture{
    max-width: 540px;
 }
 
 .our-feauture h3{
    font-size: 2.81rem;
    margin-bottom: 1.25rem;
 }
 /* .our-feauture span{
    color: #FF900E;
 } */
 .our-feauture p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 2rem;
 }

 /* Feature Enjoy */
 .enjoy-container{
    margin-top: 130px;
    gap:100px; 
 }

 #border-feauture{
    border-left: 5px solid #FF900E;
    padding-left: 8px;
    border-radius: 4px;

 }

 .feature-card.care-heading{
    font-size: 1.25rem;
    font-weight: 600;
 }
 .feature-card p{
    font-size: 16px;
    color: #727272;
 }
 .feature-card{
    padding: 30px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
 }
 #experience-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
 }
 #experience-year{
   font-size: 45px;
   font-weight: 700;
 }

 /* fact section */
 .some-fact h3{
    font-size: 45px;
    font-weight: 700;
 }
 .some-fact p{
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 45px;
    color: #727272;
 }
 .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    /* height: 240px; */
    padding: 30px 35px;
    text-align: center;
    border-radius: 8px;
 }
 .fact-name{
    font-size: 1rem;
    color: #727272;
    font-weight: 600;
 }
 .fact-number{
    font-size: 2rem;
    font-weight: 600;
    color:#424242;
 }
 .fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
    margin-bottom: 100px;
    
 }

 /* sponsor section */
 .sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
 }
 .sponsor-info h3,.enjoy-h{
    font-size: 2.81rem;
    color: #131313;
 }
 .sponsor-info p,.enjoy-p{
    font-size: 1rem;
    color: #727272;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
 }

 .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
 }
 .sponsor-company img{
    filter: grayscale(100%);
 }
/* footer container section */
 .footer-container{
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFF4E7;
   
 }
 .footer-container p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #727272;
 }

 /*responsive */
 @media screen and (max-width:576px){
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: row;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .banner-img{
        width: 100%;
    }
    .banner-tittle{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .teams{
        flex-direction: column;
    }
    
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .our-feauture{
        /* width: 100%; */
        margin-left: 50px;
    }
    .fact-container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .fact-card{
        margin: 0 auto;
    }
    .some-fact h3,p{
        margin-left: 2rem;
        
    }
    .sponsor-company{
        grid-template-columns: repeat(1,1fr);
        gap: 28px;
       justify-items: center;
    }
    .enjoy-container{
        flex-direction: column;
    }
    .enjoy-container img{
        width: 100%;
    }
     #experience-badge {
    padding: 20px;
    margin-left: 40px;
     }
 }

/* medium device responsive */
  @media screen and (min-width:576px) and (max-width:992px){
 
    .sponsor-company {
         
        margin-left: 50px;
        gap: 24px; 
         justify-items: center;
        
    }
    .fact-container,.our-feauture,.sponsor-company{
        grid-template-columns: repeat(2,1fr);
        /* justify-items: center; */
        /* padding: 15px; */
    }
    .teams,.enjoy-container{
        flex-direction: column;
    }
    .some-fact {
        
        justify-content: center;
        justify-items: center;
    }
  }